.upload_info {
    text-align: center;
    margin-top: 20px;
}

.page-title {
    text-align: center;
}

.upload-content {
    margin-left: 20px;
}


.avatar {
    width: 40px;
    height: 50px;
    border-radius: 50%;
}


.create-time {
    float: right;
    padding: 15px;
}

.username {
    padding-left: 15px;
}


.answer-content {
    padding-left: 60px;
}

.main{
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}