.form-container{
    width: 500px;
    margin: 0 auto;
    text-align: right;
}


/*.form-group{*/
/*    text-align: center;*/
/*    color: #00c4ff;*/
/*    width: 730px;*/
/*    padding-top: 20px;*/
/*    margin: 0 auto;*/
/*}*/

.main{
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

.mess{
    text-align: center;
    width: 630px;
    margin-top: 200px;
}