{% extends 'base/base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/communicate/detail.css') }}">
{% endblock %}



{% block main %}
    <h3 class="page-title">{{ question.title }}</h3>
    <p class="question-info">
        <span>发言人:{{ question.users.username }}</span><br>
        <span>时间:{{ question.create_time }}</span>
        {% if current_user.username==question.users.username or current_user.username=='admin'%}
            <a style="float: right; margin-right: 15px" class="btn btn-primary"
               href="{{ url_for('communicate.communicate_delete',question_id=question.id) }}">删除</a>
        {% endif %}
        {% if current_user.username==question.users.username %}
            <a style="float: right; margin-right: 15px" class="btn btn-primary"
               href="{{ url_for('communicate.update_comm',question_id=question.id) }}">编辑</a>
        {% endif %}
    </p>
    <hr>
    <pre class="question-content" style="font-size: 13px">{{ question.content }}</pre>
    <hr>
    <div class="page">
        <h4>评论：({{ count }})</h4>
        <form action="{{ url_for('communicate.communicate_replies') }}" method="POST">
            <div class="form-group">
                <input name="answer_content" type="text" class="form-control" placeholder="请填写您的回复">
                <input type="hidden" name="question_id" value="{{ question.id }}">
            </div>
            <div class="form-group" style="text-align: right;">
                <button class="btn btn-primary">立即评论</button>
            </div>
        </form>
    </div>

    <div class="mess">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}
    </div>

    <ul class="answer-list">
        {% for answer in question.answers %}
            <li>
                <div class="user-info">
                    <img src="http://127.0.0.1:5000/static/images/icon/{{ answer.answer_name.icon }}"
                         alt="" class="avatar">
                    <span class="username">{{ answer.answer_name.username }}</span>
                    <span class="create-time">{{ answer.create_time }}</span>
                </div>
                <p class="answer-content" style="font-size: 13px">{{ answer.content }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock%}